*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:#083b4c;
}
/* Setting header*/
header {
    color: white;
    text-align: center;
    margin: 30px 0;
}
header > h1{
    font-size: 50px;
}
/* setting container  */
#container{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
/*setting box*/ 
.box{
    width: calc(100% / 7);
    padding: 2rem;
    display: flex;
    justify-content: center;

}